body{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    background-color: #00ff62;
    justify-content: space-around;
}
.nav_links{
    list-style: none;
    display: flex;
    gap: 20px;
}
.nav_links li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 14px 20px;
    display: block;
    transition: all 0.3s ease;
}
h1{
    color: rgb(255, 255, 255);
}
.nav_links li a:hover{
    background-color: rgb(255, 89, 0);
    border-radius: 30px;
    border: #9500ff solid 2px;
    color: rgb(255, 196, 0);
}
.toggle-menu{
    display: none;
}
.hamburguesa{
    display: none;
}
@media (max-width:768px){
    .nav_links{
        display: none;
    }
    .toggle-menu{
        display: flex;
    }
}