.tar1{
                position: relative;
                background-color: rgb(8, 81, 249);
                width: 17%;
                height: 150px;
                border-radius: 20px;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                padding: 10px;
                gap: 3px;
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                border: 2px solid rgb(78, 78, 78);
                transition: all 0.3s ease;
}
.tar1:hover{
    transform: translateY(-10px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    background-color: rgb(0, 255, 64);
    cursor: pointer;
}