body{

    background-image: url(https://p4.wallpaperbetter.com/wallpaper/467/724/877/anime-girls-vertical-hd-wallpaper-preview.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}