
.caja1{
    width: 150px;
    height: 150px;
    background-color: red;
    z-index: 2;
    position: relative;
    transition: all 0.3s ease;

}
.caja2{
    width: 150px;
    height: 150px;
    background-color: rgb(10, 255, 72);
    z-index: 1;
    margin-left: 50px;
    margin-top: -50px;
    gap: 50px;
    transition: all 0.3s ease;
}
img{
    width: 150px;
    margin-top: -70px;
    transform: transform 0.3s ease ;
    
}
.caja0{
    width: 30px;
    height: 20px;
    z-index: 3;
    position: relative;
    transition: all 0.6s ease;
    
}

.caja2:hover{
    transform: translateY(-20px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    background-color: blueviolet;
    cursor: pointer;

}
img:hover{
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    cursor: pointer;

}
.caja1:hover{
    transform: rotate(45deg);
    cursor: pointer;
}
